build/campus.keystore
*.keystore
*.jks
TmxyAdFree.apk
*.apk
*.idsig
源码/build/
build/*.apk
build/aligned.apk
build/base.apk
build/classes/
build/dex/
build/gen/
classes/
gen/
*.dex
*-output.txt
Thumbs.db
desktop.ini
.DS_Store
