<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmxy.adfree"
    android:versionCode="8"
    android:versionName="1.0.7">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="天猫校园净化">

        <!-- LSPosed / LSPatch 模块声明 -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="天猫校园 5.7.2 去广告 + 自动开门 + 门锁参数导出（配合独立 App「校园钥匙」）" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedsharedprefs" android:value="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="天猫校园净化">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
